{%extends "base.html"%}

{% block title %}
Главная
{% endblock %}


{% block style %}
body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        .container {
            position:relative;
            max-width:50%;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .post {
            margin-bottom: 20px;
            padding: 10px;
            background-color: #f9f9f9;
            border-radius: 8px;
            overflow: hidden;
            text-align: left;
            border: 2px solid #A9A9A9;
            position: relative;
        }
        .post img {
            width: 50%;
            max-width: 100%;
            border-radius: 8px;
            margin-bottom: 10px;
        }
        .post h2 {
            margin-top: 0;
            margin-bottom: 5px;
        }
        .post p {
            margin-top: 0;
        }
        .post .author {
            font-style: italic;
            color: #666;
        }
        .user-name {
            position: absolute;
            top: -125px;
            right: 50px;
            font-size: 25px;
            color: black;
        }

        .user-name-in-post{
            text-decoration:none;
        }
{% endblock %}








{% block body %}
<div class="container">
        <a class="user-name" href="/user/{{ id }}">{{ name }}</a>
        <br>
        {% if posts|length > 0 %}
            {% for post in posts %}
                <div class="post">
                    <a class="user-name-in-post"   href="/user/{{ post.author_id }}"><h2 class="author">{{ post.author_name }}</h2></a>
                    <p>{{ post.date.strftime('%H:%M %d-%m-%y ') }}</p>

                    <h2>{{ post.title }}</h2>
                    <img src="{{ url_for('static', filename='img/users-post-pictures/'+post.image_path) }}" alt="">

                    <p>{{ post.text }}</p>

                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
